body,
#sobre-nos,
.cinza {
  background-color: rgb(216, 216, 216) !important;
}

.fixo {
  position: fixed !important;
}

.galvan {
  position: absolute;
  /* display: block; */
  z-index: 1;

  /* margin-top: 6% !important; */
  
}

.letras> h1, p {
  color: #355b9a !important;
}

.hero__caption {
  overflow: hidden;
}

/* line 58, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
.hero__caption span {
  font-family: "Muli", sans-serif;
  font-weight: 800;
  display: block;
}

/* line 63, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
.hero__caption h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 63, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
  .hero__caption h1 {
    font-size: 70px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 63, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
  .hero__caption h1 {
    font-size: 50px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 63, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
  .hero__caption h1 {
    font-size: 35px;
    line-height: 1.4;
  }
}

@media (max-width: 575px) {
  /* line 63, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
  .hero__caption h1 {
    font-size: 29px;
    line-height: 1.5;
  }
}

/* line 88, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
.hero__caption p {
  font-size: 27px;
  font-family: "Muli", sans-serif;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 88, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
  .hero__caption p {
    padding-right: 13px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 88, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
  .hero__caption p {
    padding-right: 0px;
  }
}

@media (max-width: 575px) {
  /* line 88, C:/Users/HP/Desktop/jun-2020/280.Industrial_HTML/assets/scss/_h1-hero.scss */
  .hero__caption p {
    padding-right: 0px;
    font-size: 15px;
  }
}

#seletor > h1,
p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
